<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Cucumber Suite" parallel="classes" thread-count="2">

    <test name="HRM Test">
        <classes>
            <class name="TestNGSetup"/>
            <class name="runners.TestRunner"/>
        </classes>
    </test>

</suite>